.divOp{
    margin-top: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items:flex-start;
    padding: 15px;
    gap: 15px;
    width: 350px;
    height: 50px;
    background-color: rgb(26, 25, 25);
    border-radius: 20px;
}

.divTextResult{
    display: flex;
    justify-content: center;
}

.divQtd{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.divContainerGerador{
    display: flex;
    flex-direction: column;
}